.button {
  padding: 0.5rem 1rem;
  line-height: 1;
  border-radius: 1rem;
  border: none;
  text-transform: uppercase;
  font-synthesis: style;
  font-weight: normal;
  font-size: 16px;
  color: #252529;
  cursor: pointer;
}