@mixin font {
  --font-text: Futura, 'Trebuchet MS', Arial, sans-serif;
}

@mixin color {
  --color-1: #ffffff;
  --color-2: #252529;
  --color-3: #ff0026;
  --color-4: #008000;
}

:root {
  @include font();
  @include color();
}